<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated transformations -->
      <package
            uri="http://www.mpw.uni-stuttgart.de/behavior/command"
            class="commandBehavior.CommandPackage"
            genModel="model/transformations.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated transformations -->
      <package
            uri="http://www.mpw.uni-stuttgart.de/generation/annotations"
            class="generationAnnotations.GenerationAnnotationsPackage"
            genModel="model/transformations.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated transformations -->
      <package
            uri="http://www.mpw.uni-stuttgart.de/behavior/query"
            class="queryBehavior.QueryPackage"
            genModel="model/transformations.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated transformations -->
      <package
            uri="http://www.mpw.uni-stuttgart.de/behavior/basetypes"
            class="behaviorsbase.BehaviorsbasePackage"
            genModel="model/transformations.genmodel"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated inputs -->
      <package
            uri="http://www.mpw.uni-stuttgart.de/transformation/inputs"
            class="behaviorInputs.InputsPackage"
            genModel="model/inputs/inputs.genmodel"/>
   </extension>

</plugin>
