<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpw -->
      <package
            uri="http://www.mpw.uni-stuttgart.de/commands"
            class="commands.CommandPackage"
            genModel="model/mpw.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpw -->
      <package
            uri="http://www.mpw.uni-stuttgart.de/mpw"
            class="mpw.MpwPackage"
            genModel="model/mpw.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpw -->
      <package
            uri="http://www.mpw.uni-stuttgart.de/viewmodel"
            class="viewmodel.ViewmodelPackage"
            genModel="model/mpw.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpw -->
      <package
            uri="http://www.mpw.uni-stuttgart.de/viewmodelstereotypes"
            class="viewmodelstereotypes.ViewmodelstereotypesPackage"
            genModel="model/mpw.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpw -->
      <package
            uri="http://www.mpw.uni-stuttgart.de/stereotypes"
            class="stereotypes.StereotypesPackage"
            genModel="model/mpw.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpw -->
      <package
            uri="http://www.mpw.uni-stuttgart.de/basetypes"
            class="basetypes.BasetypesPackage"
            genModel="model/mpw.genmodel"/>
   </extension>
</plugin>
